:root {
  --main-title-color: #ffffff;
  --accent-color: #ff6c00;
  --grey-color: rgba(157, 164, 189, 0.6);
  --second-grey-color: #9da4bd;
  --main-black-color: #303030;
  --grey-black-color: #555555;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.12;
  letter-spacing: 0.05em;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

.header {
}

.header-navigation {
}

.header-logo {
}

.header-list {
}

.header-item {
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
  background-color: black;
}

.header-link:hover {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-title-color);
  background-color: black;
}

.header-btn {
  color: var(--main-title-color);
}

.header-item:hover {
  color: var(--accent-color);
}

/* Hero*/

.hero-list .list {
  list-style: none;
}

.hero {
  background-color: var(--main-black-color);
}

.hero-list {
}

.hero-item {
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--main-black-color);
}

.hero-link:is(:hover, :focus) {
  color: var(--accent-color);
}

.hero-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--grey-color);
}

.hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}

.hero-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-black-color);
}

/* About */

.about {
}
.about-list {
}
.list {
}
.about-item {
}

.about-pre-title {
  color: var(--main-black-color);
}

.about-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--main-black-color);
}

.about-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--grey-black-color);
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--grey-black-color);
}

.about-btn {
  color: var(--main-black-color);
}

/* Prices */

.prices {
  background-color: #303030;
}

.prices-pre-title {
  color: var(--grey-color);
}

.prices-title {
  color: var(--main-title-color);
}

.prices-list {
}

.list {
  list-style: none;
}

.prices-item {
}

.prices-item-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--second-grey-color);
}

.prices-btn {
  color: var(--main-title-color);
}

/* Benefits */

.benefits {
}
.benefits-list {
}
.list {
}

.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--main-black-color);
}

.benefits-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.37;
  text-align: center;
  color: var(--main-black-color);
}

.benefits-pre-titile {
  color: var(--main-black-color);
}

.benefits-titile {
  color: var(--main-black-color);
}
.benefits-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--grey-black-color);
}

/* Barbers*/

#barbers {

}
.barbers {
}
.barbers-pre-title {
}
.pre-title {
  color: var(--main-black-color);
}

.barbers-title {
  color: var(--main-black-color);
}

.title {
 
}

.barbers-list {
}
.list {
}

.barbers-item {
}

.barbers-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-black-color);
}

.barbers-item-text {
  font-size: 14px;
  line-height: 1.4;  
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.gallery {
}
.gallery-pre-title {
  color: var(--main-black-color);
}

.pre-title {
}

.gallery-list {
}
.list {
}
.gallery-item {
}